---
---
/* colors inspired by https://www.happyhues.co/palettes/3 */

@font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proxima_ssv/ProximaNova-Regular.otf") format("opentype")
}

@font-face {
    font-family: "FiraCode";
    src: url("/fonts/fira-code/FiraCode-Regular.ttf") format("truetype")
}

body {
    font-family: "Proxima Nova", sans-serif;
    background-color: #fffffe;
    color: #5f6c7b;
}


h1, h2, h3, h4 {
    a {
        color: #094067;
    }
    color: #094067;
    font-weight: bold;

}

pre{
    padding: 10px;
    font-family: "FiraCode", monospace;
}

.language-plaintext {
    padding: 2px;
    background-color: #3f3f3f;
    color: #ccc;
}

.info {
    font-size: 0.8em;
}

.header {
    margin-bottom: 15px;
    background-color: #d8eefe;


    .row {
        max-width: 1140px;
        margin: 0 auto;
    }

    .gravatar {
        display: inline-block;

        img {
            border-radius: 100px;
            width: 50px;
            margin-top: -20px;
        }
    }

    #main-header {
        padding-top: 4px;
        margin: 15px;
        display: inline-block;
    }

    .links{
        text-align: right;
        padding-top: 30px;
        .links-collection{
            display: inline-block;
            margin: 0 5px;

            span a{
                text-decoration: none;
                display: inline-block;
            }
        }
    }

    .slogan {
        font-size: 0.8em;
        padding-left: 85px;
        margin-top: -15px;
    }
}


.container {
    article {
        min-width: 1140px;
    }
}