body{
    background: url('/img/background.jpg');
    font-family: 'Merriweather', sans-serif;
    text-align: justify;
}

#main-header{
    font-family: 'Raleway', sans-serif;
    color: red;
    font-size: 2.5em;
    text-align: center;
}

#main-header a, #main-header a:visited{
    text-decoration: none;
    color: red;
}

h2, h3, h4{
    font-family: 'Raleway', sans-serif;
}

.tags *, .category *{
    font-family: Lato, Arial, Verdana
}

.highlight{
    font-family: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.highlight code {
    font-size: 16px;
}

.sidebar{
    padding-top: 40px;
}

.sidebar .slogan{
    font-family: bariol_regular, Arial, Verdana;
}

.main-content{
    box-shadow: -5px -3px 10px #888;
    padding: 0 25px 50px 25px;
    background-color: #fff;
}

.main-content article{
    margin-top: 50px;
}

.info{
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    margin-top: -15px;
}

.main-content article header h1{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


.links-collection li{
    list-style: none;
}

.links-collection a{
    text-decoration: none;
    color: #000;
}

#disqus_thread{
    margin-top: 30px;
}

#footer-separator{
    background-image: url('/img/separator.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 25px;
}

article footer{
    border-top: 2px dotted #49483E;
}

footer{
    margin-top: 15px;
    text-align: center;
}