---
layout: default
---
{% for itPost in site.posts limit:10 %}
<article>
    <header>
        <h2><a href="{{itPost.url}}">{{itPost.title}}</a></h2>
        <div class="info pull-right">
            Publicat el <span class="pub-date">{{itPost.date | date:"%Y-%m-%d"}}</span> per <span class="author">{{itPost.author}}</span>
        </div>
    </header>
    <div class="clearfix">&nbsp;</div>
    <p class="article-content">
    {% comment %}
        {{ itPost.content | summarize }}

        {% if itPost.tldr %}
            <a class="read-more" href="{{itPost.url}}">Continuar llegint...</a>
        {% endif %}
    {% endcomment %}
        <a href="{{itPost.url}}" class="btn btn-primary btn-lg">
            Llegir article <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    </p>
    <div class="row">
        <div class="col-md-4 category">
            <h4>Publicat en</h4>
            <span class="label label-default">{{itPost.category}}</span>
        </div>
        <div class="col-md-4 tags">
            <h4>Etiquetes</h4>
            {% for itTag in itPost.tags %}
            <span class="badge">{{itTag}}</span>
            {% endfor %}
        </div>
    </div>
    <footer>
        &nbsp;
    </footer>
</article>
{% endfor %}