<div class="links hidden-phone">
    <ul class="links-collection">
        <li>
            <a href="https://github.com/xoner">
                <img src="/img/github.png" alt="github"> Github
            </a>
        </li>
        <li>
            <a href="https://twitter.com/xoner81">
                <img src="/img/twitter.bird.png" alt="twitter"> Twitter
            </a>
        </li>
        <li>
            <a href="https://twitter.com/xoner81">
                <img src="/img/linkedin.png" alt="linkedin"> Linkedin
            </a>
        </li>
    </ul>
</div>